%h1 welcom!
You logen as
= current_user.email

= form_tag(skill_up_path, method: 'post') do
  %h3 character stats:
  xp:
  = label_tag( :character_xp, current_user.xp, class: 'character_xp')
  = hidden_field_tag(:character_xp)
  %div{class: 'row'}
    %div{class: 'col-md-2'}
      strength:
      %span{class: 'character_strength'}
        = current_user.strength
    = hidden_field_tag(:character_strength)
    %div{class: 'col-md-10'}
      = link_to '', '#', class: 'btn btn-default glyphicon glyphicon-plus  increment', id: 'character_strength', remote: true
      = link_to '', '#', class: 'btn btn-default glyphicon glyphicon-minus decrement', id: 'character_strength', remote: true

    %div{class: 'col-md-2'}
      agility:
      %span{class: 'character_agility'}
        = current_user.agility
    = hidden_field_tag(:character_agility)
    %div{class: 'col-md-10'}
      = link_to '', '#', class: 'btn btn-default glyphicon glyphicon-plus increment', id: 'character_agility', remote: true
      = link_to '', '#', class: 'btn btn-default glyphicon glyphicon-minus decrement', id: 'character_agility', remote: true

    %div{class: 'col-md-2'}
      stamina:
      %span{class: 'character_stamina'}
        = current_user.stamina
    = hidden_field_tag(:character_stamina)
    %div{class: 'col-md-10'}
      = link_to '', '#', class: 'btn btn-default glyphicon glyphicon-plus increment', id: 'character_stamina', remote: true
      = link_to '', '#', class: 'btn btn-default glyphicon glyphicon-minus decrement', id: 'character_stamina', remote: true

    %div{class: 'col-md-2'}
      %br
      = submit_tag 'Submit'